*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", system-ui;
}

:root {
    --blue: #9fc5ef;
}

html {
    scroll-behavior: smooth;
}

.content {
    width: 95%;
    margin: 0 auto;
}
/* Header Start */

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
    height: 108px;
}
.h-links {
    display: flex;
}
header a {
    border: black 1px solid;
    padding: 15px 23px;
    border-radius: 6px;
    margin-left: 15px;
    color: black;
    font-weight: 500;
    font-size: 16px;
    height: fit-content;
    display: flex;
    justify-content: center;
    column-gap: 5px;
    align-items: center;
}
header i {
    font-size: 16px;
    margin-bottom: -2px;
}
.active {
    background-color: black;
    color: var(--blue);
    position: relative;
}
.active::before {
    content: "3";
    background-color: rgb(255, 90, 123);
    width: 23px;
    height: 23px;
    position: absolute;
    top: -7px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -8px;
    border-radius: 50%;
    color: white;
    font-size: 14px;
}
header a:hover {
    background-color: black;
    color: var(--blue);
}
.logo {
    font-size: 30px;
}
.logo i {
    font-size: 40px;
}
.logo span {
    display: block;
    font-size: 22px;
    font-weight: normal;
}

@media (width < 625px)  {
    .logo{
        display: none;
    }
    header {
        justify-content: center;
        padding: 20px 5px;
    }
    header a {
        border: black 1px solid;
        padding: 10px 18.2px;
        border-radius: 6px;
        margin-left: 15px;
        color: black;
        font-weight: 500;
        font-size: 13.5px;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
}
/* Header End */

/* Landing Start */
section {
    height: calc(100vh - 108px);
}
.p1 {
    background-image: url(imgs/pexels-pixabay-355770.jpg);
    background-size: cover;
}

section .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 47.5%;
    gap: 15px;
    transform: translate(-50%, -50%);
    width: 100%;
}
section .text h4 {
    font-size: 45px;
    font-weight: normal;
}
section .text h2 , h3 {
    font-size: 40px;
    font-weight: bold;
}
section .text span {
    color: red;
}
section .text p {
    color: black;
    font-size: 35px;
}

section .text a {
    width: 130px;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: none;
    outline: none;
    transition: 0.3s;
    border-radius: 20px;
    margin-top: 5px;
    cursor: pointer;
}

section .text a:hover {
    color: var(--blue);
    border-radius: 0;
}

/* Section Responsive Start */
@media (min-width: 500px) and (max-width: 1105px) {
    section .text h4 {
        font-size: 40px;
        font-weight: normal;
    }
    section .text h2 , h3 {
        font-size: 35px;
        font-weight: bold;
    }
    section .text p {
        color: black;
        font-size: 25px;
    }
    
}

@media (max-width: 499px) {
    section .text h4 {
        font-size: 28px;
        font-weight: normal;
    }
    section .text h2 , h3 {
        font-size: 25px;
        font-weight: bold;
    }
    section .text p {
        color: black;
        font-size: 16px;
    }
}
/* Landing End */

/* Section Responsive End */

/* Products Start */
.products > h1 {
    border: 1px solid black;
    width: fit-content;
    margin: 50px auto;
    padding: 20px;
    position: relative;
}
.products > h1::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: var(--blue);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -40px;
    z-index: -1;
    transition: 0.5s;

}
.products > h1::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: var(--blue);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: -40px;
    z-index: -1;
    transition: 0.5s;

}
.products > h1:hover::before  {
    left: 0;
    width: 51%;
    height: 100%;
    border-radius: 0;
}

.products > h1:hover::after  {
    right: 0;
    width: 51%;
    height: 100%;
    border-radius: 0;
}
@media (width < 500px) {
    .products > h1 {
        padding: 10px;
        position: relative;
        font-size: 20px;
    }
    .products > h1::after , .products > h1::before {
        width: 13px;
        height: 13px;
    }
    .products > h1::before {
        left: -30px;
    }
    .products > h1::after {
        right: -30px;
    }

}
.prod-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px , 1fr));
    gap: 50px;
    padding-bottom: 30px;
    padding: 0 50px 30px;
}
@media (width < 400px)  {
    .prod-cards{
        padding: 0;
    }

}
.prod-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.4);
    padding: 15px;
    transition: 0.3s;
}
.prod-card img {
    width: 100%;
}
.prod-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prod-footer span {
    color: rgb(224, 2, 46);
    font-weight: 600;
    font-size: 18px;
}

.prod-footer a {
    background-color: goldenrod;
    color: white;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    gap: 7px;
}


.prod-footer a:hover {
    background-color: #1462af;
}
.prod-card:hover {
    transform: translateY(-5px);
}

/* Products End */

/* Footer Start */
    footer {
        background-color: rgb(24, 23, 23);
        color: white;
        padding: 40px 20px;
        display: flex;
        justify-content: center;
        font-weight: normal;
    }
    .fa-heart {
        color: red;
    }

    footer span {
        animation: name infinite 3s;
    }

    @keyframes name {
        25% {color: red;}
        50%  {color: #4498ec;}
        100% {color: rgb(10, 210, 10);}
    
    }
    @media (width < 447px) {
        footer {
            font-size: 12px;
        }
    }
/* Footer End */
