    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        font-family: "Roboto", system-ui;
    }
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 217px);
    }
    section form {
        background-color: #e5e5e5;
        width: 600px;
        height: 500px;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        position: relative;
    }
    form input {
        background-color: transparent;
        padding: 10px;
        border: none;
        outline-color: #9fc5ef;
        border-bottom: 1px solid black;
        width: 70%;
        font-size: 17px;
    }
    form i {
        position: absolute;
        right: 100px;
    }
    .fa-envelope {
        top: 139.5px;
    }
    .lock-1 {
        top: 230px
    }
    .lock-2{
        top: 321px
    }
    
    form button {
        padding: 15px;
        border: none;
        border-radius: 6px;
        background-color: #68aeff;
        color: white;
        font-size: 18px;
        cursor: pointer;
        transition: 0.3s;
    }
    form button:hover {
        background-color: #3292ff;
    }

    @media(max-width:530px) {
        form i {
            right: 10%;
        }
        form input {
            width: 90%;
        }
    
    }